.about {
    width: 100vw;
    height: 20vh;
}

.about_container {
    width: 80vw;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
