.about {
  width: 100vw;
  height: 25vh;
  padding: 5%;
}

.about_container {
  width: 80vw;
  height: 25vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_container h1 {
  font-family: "All Round Gothic";
  font-size: 3.125em;
  max-width: 25%;
}

.about_text {
  max-width: 60%;
}

.about_text p {
  font-family: "Poppins";
  font-size: 1.063em;
  padding: 10px 0;
  color: $gray;
}

.about_text button {
  background-color: $blue;
  border: none;
  color: $white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: 3%;
}

.about_text button:hover {
  transform: scale(1.05);
  border-radius: 2%;
}
