.contact {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 105%;
}

.contact_first_heading {
  font-family: "All Round Gothic";
  color: $white;
  font-size: 50px;
  margin-left: 30%;
  padding-top: 5%;
}

.contact_overlay {
  position: relative;
  background-color: rgba($color: #000000, $alpha: 0.7);
  height: 100%;
}

.contact_container {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3% auto;
}

.first_contact_button {
  background-color: $blue;
  border: none;
  color: $white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5%;
}

.contact button:hover {
  transform: scale(1.05);
  border-radius: 2%;
}

.contact_card_wrapper {
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.card {
  margin: 30px;
  width: 30%;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.card h2 {
  font-family: "All Round Gothic";
  font-size: 22px;
  padding: 20px 30px;
}

.card p {
  color: $gray;
  padding: 10px 30px;
  font-size: 17px;
}

.card h3 {
  font-size: 16px;
  color: $blue;
  padding: 20px 20px;
  position: relative;
  margin-top: 2%;
}

.contact_info_cards {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact_second_heading{
  font-family: "All Round Gothic";
  font-size: 50px;
  padding: 3%;
  color: #000000;
}

.second_contact_button {
  background-color: $blue;
  border: none;
  color: $white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5%;
}

.contact_info_cards button:hover {
  transform: scale(1.05);
  border-radius: 2%;
}

.card_inf {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  background-color: #edeff8;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.card_inf h2 {
  font-family: "All Round Gothic";
  font-size: 30px;
}

.card_inf_row {
  display: flex;
  flex-direction: column;
}

.card_inf_row p {
  font-size: 17px;
  color: $gray;
  padding: 1% 0;
}

.card_inf h2 {
  font-family: "All Round Gothic";
  font-size: 30px;
  padding-bottom: 60px;
}

.card_inf_row h3 {
  font-size: 18px;
}
