@import url(//db.onlinewebfonts.com/c/94b179c9d809017e4a5819787d60ab0f?family=All+Round+Gothic);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

