@import url(//db.onlinewebfonts.com/c/36f9c126444387446c52b962a725f250?family=All+Round+Gothic);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
