header {
  width: 100vw;
  height: 100%;
  background-image: url("../images/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.head_container {
  width: 80vw;
  height: 93vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head_text {
  max-width: 25vw;
}

.head_text h1 {
  font-family: "All Round Gothic";
  font-style: normal;
  font-size: 60px;
  padding-bottom: 15px;
}

.head_text p {
  font-size: 17px;
  padding-bottom: 15px;
}

.head_text button {
  background-color: $blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.head_text button:hover {
  transform: scale(1.05);
  border-radius: 2%;
}

.head_aside {
  background-color: white;
  width: 740px;
  height: 550px;
  right: 0;
  position: relative;
}

.head_buttons {
  padding: 5% 0;
}

.aside_back_img {
  position: absolute;
  right: 0;
}

.aside_window_img {
  position: absolute;
  left: -15%;
  top: 10%;
}

.head_aside_text {
  width: 45%;
  position: absolute;
  right: 70px;
  bottom: 70px;
}

.head_aside_text h2 {
  font-family: "All Round Gothic";
  color: #304de5;
  font-size: 22px;
  padding: 2% 0;
}

.head_aside_text h3 {
  font-family: "All Round Gothic";
  color: black;
  font-size: 22px;
  padding: 2% 0px;
}

.head_aside_text h4 {
  font-family: "All Round Gothic";
  color: #304de5;
  font-size: 16px;
  padding: 2% 0px;
}

.head_aside_text p {
  font-family: "Poppins";
  color: gray;
  font-size: 17px;
  padding: 2% 0px;
}

.head_footer {
  width: 80vw;
  height: 9%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #304de5;
  color: white;
}

.hf_ball {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  margin-left: 20%;
  margin-bottom: 5%;
}

.head_footer_item {
  width: 20%;
  margin-bottom: 4%;
}

.head_footer_item h1 {
  font-family: "All Round Gothic";
  font-size: 19px;
  padding-left: 20%;
}

.head_footer_item h1:hover {
  letter-spacing: 0.05em
}

.head_overlay {
  position: relative;
  background-color: rgba($color: #000000, $alpha: 0.7);
}
