@media all and (max-width: 1880px) {
  .contact {
    margin-top: 110%;
  }
}

@media all and (max-width: 1810px) {
  .slider_btns {
    margin-top: 87%;
  }
}

@media all and (max-width: 1770px) {
  .news {
    margin-top: 75%;
  }
}

@media all and (max-width: 1700px) {
  .contact {
    margin-top: 120%;
  }

  .services_footer {
    margin-top: 20%;
  }
  
  .slider {
    margin-top: 53%;
  }

}



@media all and (max-width: 1604px) {


  .services_footer {
    margin-top: 25%;
  }
  
  .slider {
    margin-top: 58%;
  }

  .slider_btns {
    margin-top: 93%;
  }
}

@media all and (max-width: 1550px) {
  .news_footer_card_third {
    padding: 1%;
  }

  .slider_btns {
    margin-top: 96%;
  }
}

@media all and (max-width: 1530px) {
  .contact {
    margin-top: 130%;
  }
}

@media all and (max-width: 1500px) {
  .news {
    margin-top: 85%;
  }

  .news_card_img img {
    width: 25vw;
  }

  .contact {
    margin-top: 140%;
  }


}

@media all and (max-width: 1450px) {

  .slider {
    margin-top: 67%;
    left: 40% ;
  }

  .slider_images img {
    width: 50vw;
  }
  .services_img img {
    width: 45vw;
    margin-top: 20%;
  }

  .services_text {
    width: 25vw;
  }

  .head_aside {
    width: 40vw;
    height: 40vh;
  }

  .aside_back_img img {
    width: 30vw;
  }

  .aside_window_img img {
    width: 30vw;
  }

  .head_aside_text {
    left: 55%;
  }



  .news_footer_card_third_img img {
    width: 20vw;
  }
}

@media all and (max-width: 1400px) {


  .service_footer_img img {
    width: 40vw;
  }
}

@media all and (max-width: 1350px) {

  .services_footer {
    height: 40vh; }

  .back_div {
    height: 150vh;
  }

}

@media all and (max-width: 1300px) {


  .logo {
    width: 20%;
  }

  .contact {
    margin-top: 150%;
  }

  .news {
    margin-top: 95%;
  }

 

  .news_footer_card_first h2 {
    margin: 5% 0;
  }
}

@media all and (max-width: 1250px) {
  .back_div {
    height: 140vh;
  }

  .slider {
    left: 50% ;
  }
}

@media all and (max-width: 1230px) {

  .contact {
    margin-top: 160%;
  }

}

@media all and (max-width: 1170px) {
  .contact {
    margin-top: 170%;
  }

  .news {
    margin-top: 105%;
  }
}

@media all and (max-width: 1150px) {

  .back_div {
    height: 125vh;
  }

  .slider {
    left: 60%;
  }


  .fa-bars {
    margin-left: 10px;
  }

  .fa-angle-down {
    margin-left: -15px;
  }

  .nav_flag h3 {
    font-size: 14px;
  }

  .nav_links a {
    padding: 0 5px;
  }

  .nav_icons i {
    padding: 0 5px;
  }
}
