nav {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #FFF;
}

.nav_flag {
    background: #304DE5;
    color: #FFF;
    padding: 25px;

}


.nav_links a {
    text-decoration: none;
    color: #1C1B21;
    padding: 0px 15px;
    word-wrap: normal;
    display: inline-block;
}

.nav_icons i {
    padding: 0 10px;
    opacity: 60%;
}

.fa-bars {
    margin-left: 30px;
}

.fa-angle-down {
    margin-left: -22px;
}

