.news {
    width: 100vw;
    height: 105vh;
    background-color: $blue;
    margin-top: 55%;
    color: white;
}

.news h1 {
    font-family: "All Round Gothic";
    font-size: 50px;
    margin-left: 10%;
    padding-top: 5%;
}

.news_button {
    background-color: white; 
    border: none;
    color: $blue;
    padding: 15px 32px;
    margin-top: 5%;
    margin-left: 45%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.news_container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_card {
    width: 30%;
    margin-top: 5%;
}

.news_card_row {
    display: flex;
}

.news_card h3 {
    font-family: "All Round Gothic";
    font-size: 22px;
    padding: 5px 0;
}

.news_card p {
    font-size: 17px;
    color: #B7BFEA;
    padding: 5px 0;
}

.news_card h2 {
    font-size: 16px;
    padding: 10px 0;
}

.news_footer {
    width: 100vw;
    height: 80vh;
    background-color: #1C1B21;
    margin-top: 1%;
}

.news_footer h1 {
    width: 100vw;
}

.news_footer_container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}

.news_footer_card_first {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.news_footer_card_first h2 {
    font-family: "All Round Gothic";
    font-size: 24px;
    padding: 30% 0;
}

.news_footer_card_first p {
    font-size: 14px;
    color: #B7BFEA;
    padding: 5% 0;
}

.news_footer_card_second {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.news_footer_card_second h2 {
    font-family: "All Round Gothic";
    font-size: 24px;
    padding: 14% 0;
}

.news_footer_card_second h3 {
    font-family: "All Round Gothic";
    font-size: 18px;
    padding: 4% 0;
}

.news_footer_card_second p {
    font-size: 14px;
    color: #B7BFEA;
    padding: 2% 0;
}

.news_footer_card_second_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news_footer_social_icons h2 {
    margin-top: 25%;
    font-size: 20px;

}

.news_footer_social_icons i {
    padding-right: 10%;
}

.news_footer_card_third {
    display: flex;
    flex-direction: column;
    background-color: #304DE5;
    padding: 3%;
}


.news_footer_card_third h2 {
    font-family: "All Round Gothic";
    font-size: 24px;
    padding-bottom: 10%;
}

.news_footer_card_third h3 {
    font-size: 18px;
    padding: 10% 0;

}

.news_footer_card_button {
    background-color: white; 
    border: none;
    color: $blue;
    padding: 10px;
    margin-top: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





