.news {
    width: 100vw;
    height: 100%;
    background-color: $blue;
    margin-top: 65%;
    color: $white;
}


.news h1 {
    font-family: "All Round Gothic";
    font-size: 50px;
    margin-left: 10%;
    padding: 5% 0; 
    width: 100vw;
    height: 10vh;
}

.news_button {
    background-color: $white; 
    border: none;
    color: $blue;
    padding: 15px 32px;
    margin-left: 45%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
}

.news_button:hover {
    transform: scale(1.05);
    border-radius: 2%;
}


.news_container {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.news_card {
    width: 30%;
    height: 100%;
    margin: 5% 0;

}
.news_card_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.news_card_row {
    display: flex;
    align-items: center;
}

.news_card_row h4 {
    padding: 4px;
    margin: 15px 15px 20px 0;
    background-color: $white;
    color: #1C1B21;
    
}

.news_card h3 {
    font-family: "All Round Gothic";
    font-size: 22px;
    padding: 5px 0;
}

.news_card p {
    font-size: 16px;
    color: #B7BFEA;
    padding: 5px 0;
}

.news_card h2 {
    font-size: 16px;
    padding: 10px 0;
}

.news_footer {
    width: 100vw;
    height: 110vh;
    background-color: #1C1B21;
    margin-top: 1%;
}

.news_footer h1 {
    width: 100vw;
}

.news_footer_container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    margin-top: 5%;
}

.news_footer_card_second_box_text {
    padding: 5% 0;
}

.news_footer_card_first {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.news_footer_card_first h2 {
    font-family: "All Round Gothic";
    font-size: 24px;
    padding: 30% 0;
}

.news_footer_card_first p {
    font-size: 14px;
    color: #B7BFEA;
    padding: 5% 0;
}

.news_footer_card_second {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.news_footer_card_second h2 {
    font-family: "All Round Gothic";
    font-size: 24px;
    padding: 14% 0;
}

.news_footer_card_second h3 {
    font-family: "All Round Gothic";
    font-size: 18px;
    padding: 1% 0;
}

.news_footer_card_second p {
    font-size: 14px;
    color: #B7BFEA;
    padding: 1% 0;
}

.news_footer_card_second_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news_footer_social_icons {
    position: relative;
}

.news_footer_social_icons h2 {
    margin-top: 20%;
    font-size: 20px;

}

.news_footer_social_icons i {
    padding-right: 10%;
}

.news_footer_card_third {
    display: flex;
    flex-direction: column;
    background-color: #304DE5;
    padding: 3%;
}



.news_footer_card_third h2 {
    font-family: "All Round Gothic";
    font-size: 24px;
    padding-bottom: 10%;
}

.news_footer_card_third h3 {
    font-size: 18px;
    padding: 10% 0;

}

.news_footer_card_button {
    background-color: white; 
    border: none;
    color: $blue;
    padding: 2%;
    margin-top: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





