.services {
    width: 100vw;
    height: 80vh;
    padding-top: 200px;
}

.back_div {
   background-color: $blue; 
   width: 70vw;
   height: 150vh;
}

.services_container {
    width: 80vw;
    margin: 0 auto;
    
}



