.slider {
  width: 100vw;
  height: 20vh;
  margin: 0 auto;
  position: absolute;
  margin-top: 50%;
  left: 25%;
}

.slider_images {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.slider_images img {
  padding: 0 15px;
}

.slider_btns {
  position: relative;
  margin-top: 80%;
  left: 50%;
}

.slide_left {
  background-color: transparent;
  border: none;
}

.slide_left:hover {
  transform: scale(1.1);
}

.slide_right {
  background-color: transparent;
  border: none;
}

.slide_right:hover {
  transform: scale(1.1);
}
