@import url(//db.onlinewebfonts.com/c/94b179c9d809017e4a5819787d60ab0f?family=All+Round+Gothic);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

nav {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #fff;
}

.nav_flag {
  background: #304de5;
  color: #fff;
  padding: 25px;
}

.nav_links a {
  text-decoration: none;
  color: #1c1b21;
  padding: 0px 15px;
  word-wrap: normal;
  display: inline-block;
  font-size: 18px;
}

.nav_icons i {
  padding: 0 10px;
  opacity: 60%;
}

.fa-bars {
  margin-left: 30px;
}

.fa-angle-down {
  margin-left: -22px;
}

header {
  width: 100vw;
  height: 100%;
  background-image: url("../images/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.head_container {
  width: 80vw;
  height: 93vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_text {
  max-width: 25vw;
}

.head_text h1 {
  font-family: "All Round Gothic";
  font-style: normal;
  font-size: 60px;
  padding-bottom: 15px;
}

.head_text p {
  font-size: 17px;
  padding-bottom: 15px;
}

.head_text button {
  background-color: #304DE5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.head_text button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 2%;
}

.head_aside {
  background-color: white;
  width: 740px;
  height: 550px;
  right: 0;
  position: relative;
}

.head_buttons {
  padding: 5% 0;
}

.aside_back_img {
  position: absolute;
  right: 0;
}

.aside_window_img {
  position: absolute;
  left: -15%;
  top: 10%;
}

.head_aside_text {
  width: 45%;
  position: absolute;
  right: 70px;
  bottom: 70px;
}

.head_aside_text h2 {
  font-family: "All Round Gothic";
  color: #304de5;
  font-size: 22px;
  padding: 2% 0;
}

.head_aside_text h3 {
  font-family: "All Round Gothic";
  color: black;
  font-size: 22px;
  padding: 2% 0px;
}

.head_aside_text h4 {
  font-family: "All Round Gothic";
  color: #304de5;
  font-size: 16px;
  padding: 2% 0px;
}

.head_aside_text p {
  font-family: "Poppins";
  color: gray;
  font-size: 17px;
  padding: 2% 0px;
}

.head_footer {
  width: 80vw;
  height: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #304de5;
  color: white;
}

.hf_ball {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  margin-left: 20%;
  margin-bottom: 5%;
}

.head_footer_item {
  width: 20%;
  margin-bottom: 4%;
}

.head_footer_item h1 {
  font-family: "All Round Gothic";
  font-size: 19px;
  padding-left: 20%;
}

.head_footer_item h1:hover {
  letter-spacing: 0.05em;
}

.head_overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.about {
  width: 100vw;
  height: 25vh;
  padding: 5%;
}

.about_container {
  width: 80vw;
  height: 25vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_container h1 {
  font-family: "All Round Gothic";
  font-size: 50px;
  max-width: 25%;
}

.about_text {
  max-width: 60%;
}

.about_text p {
  font-family: "Poppins";
  font-size: 17px;
  padding: 10px 0;
  color: gray;
}

.about_text button {
  background-color: #304DE5;
  border: none;
  color: #ffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 3%;
}

.about_text button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 2%;
}

.services {
  width: 100vw;
  height: 90vh;
  padding-top: 12%;
  color: white;
}

.back_div {
  background-color: #304DE5;
  width: 70vw;
  height: 166vh;
  position: absolute;
  right: 0;
}

.services_container {
  width: 80vw;
  margin: 0 auto;
}

.services_img {
  position: absolute;
  margin-top: 6%;
}

.services_text {
  position: absolute;
  max-width: 30%;
  margin-left: 50%;
  margin-top: 15%;
}

.services_text h1 {
  font-family: "All Round Gothic";
  font-size: 50px;
  padding-bottom: 15px;
}

.services_text p {
  font-family: "Poppins";
  font-size: 17px;
  padding: 10px 0;
}

.services_text button {
  background-color: #ffff;
  border: none;
  color: #304DE5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5%;
}

.services_text button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 2%;
}

.services_footer {
  width: 80vw;
  height: 50vh;
  position: relative;
  margin-top: 15%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4%;
}

.service_footer_text {
  width: 40%;
}

.service_footer_text h1 {
  font-family: "All Round Gothic";
  font-size: 50px;
  padding: 5% 0;
  color: black;
}

.service_footer_text p {
  font-size: 17px;
  color: gray;
  padding: 2% 0;
}

.service_footer_text button {
  background-color: #304DE5;
  border: none;
  color: #ffff;
  padding: 15px 32px;
  margin-top: 8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.service_footer_text button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 2%;
}

.slider {
  width: 100vw;
  height: 20vh;
  margin: 0 auto;
  position: absolute;
  margin-top: 50%;
  left: 25%;
}

.slider_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
}

.slider_images img {
  padding: 0 15px;
}

.slider_btns {
  position: relative;
  margin-top: 80%;
  left: 50%;
}

.slide_left {
  background-color: transparent;
  border: none;
}

.slide_left:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slide_right {
  background-color: transparent;
  border: none;
}

.slide_right:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 105%;
}

.contact_first_heading {
  font-family: "All Round Gothic";
  color: #ffff;
  font-size: 50px;
  margin-left: 30%;
  padding-top: 5%;
}

.contact_overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.contact_container {
  width: 80vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3% auto;
}

.first_contact_button {
  background-color: #304DE5;
  border: none;
  color: #ffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5%;
}

.contact button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 2%;
}

.contact_card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80vw;
}

.card {
  margin: 30px;
  width: 30%;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card h2 {
  font-family: "All Round Gothic";
  font-size: 22px;
  padding: 20px 30px;
}

.card p {
  color: gray;
  padding: 10px 30px;
  font-size: 17px;
}

.card h3 {
  font-size: 16px;
  color: #304DE5;
  padding: 20px 20px;
  position: relative;
  margin-top: 2%;
}

.contact_info_cards {
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_second_heading {
  font-family: "All Round Gothic";
  font-size: 50px;
  padding: 3%;
  color: #000000;
}

.second_contact_button {
  background-color: #304DE5;
  border: none;
  color: #ffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5%;
}

.contact_info_cards button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 2%;
}

.card_inf {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  background-color: #edeff8;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

.card_inf h2 {
  font-family: "All Round Gothic";
  font-size: 30px;
}

.card_inf_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_inf_row p {
  font-size: 17px;
  color: gray;
  padding: 1% 0;
}

.card_inf h2 {
  font-family: "All Round Gothic";
  font-size: 30px;
  padding-bottom: 60px;
}

.card_inf_row h3 {
  font-size: 18px;
}

.news {
  width: 100vw;
  height: 100%;
  background-color: #304DE5;
  margin-top: 65%;
  color: #ffff;
}

.news h1 {
  font-family: "All Round Gothic";
  font-size: 50px;
  margin-left: 10%;
  padding-top: 4%;
  width: 100vw;
  height: 10vh;
}

.news_button {
  background-color: #ffff;
  border: none;
  color: #304DE5;
  padding: 15px 32px;
  margin-left: 45%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;
}

.news_button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 2%;
}

.news_container {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news_card {
  width: 30%;
  height: 100%;
  margin: 5% 0;
}

.news_card_img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.news_card_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_card_row h4 {
  padding: 4px;
  margin: 15px 15px 20px 0;
  background-color: #ffff;
  color: #1c1b21;
}

.news_card h3 {
  font-family: "All Round Gothic";
  font-size: 22px;
  padding: 5px 0;
}

.news_card p {
  font-size: 16px;
  color: #b7bfea;
  padding: 5px 0;
}

.news_card h2 {
  font-size: 16px;
  padding: 10px 0;
}

.news_footer {
  width: 100vw;
  height: 110vh;
  background-color: #1c1b21;
  margin-top: 1%;
}

.news_footer h1 {
  width: 100vw;
}

.news_footer_container {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  margin-top: 5%;
}

.news_footer_card_second_box_text {
  padding: 5% 0;
}

.news_footer_card_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news_footer_card_first h2 {
  font-family: "All Round Gothic";
  font-size: 24px;
  padding: 30% 0;
}

.news_footer_card_first p {
  font-size: 14px;
  color: #b7bfea;
  padding: 5% 0;
}

.news_footer_card_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news_footer_card_second h2 {
  font-family: "All Round Gothic";
  font-style: normal;
  font-size: 24px;
  padding: 14% 0;
}

.news_footer_card_second h3 {
  font-family: "All Round Gothic";
  font-size: 18px;
  padding: 1% 0;
}

.news_footer_card_second p {
  font-size: 14px;
  color: #b7bfea;
  padding: 1% 0;
}

.news_footer_card_second_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news_footer_social_icons {
  position: relative;
}

.news_footer_social_icons h2 {
  margin-top: 20%;
  font-size: 20px;
}

.news_footer_social_icons i {
  padding-right: 10%;
}

.news_footer_social_icons i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.news_footer_card_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #304de5;
  padding: 3%;
}

.news_footer_card_third h2 {
  font-family: "All Round Gothic";
  font-size: 24px;
  padding-bottom: 10%;
}

.news_footer_card_third h3 {
  font-size: 18px;
  padding: 10% 0;
}

.news_footer_card_button {
  background-color: white;
  border: none;
  color: #304DE5;
  padding: 2%;
  margin-top: 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.news_footer_card_button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  border-radius: 2%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 8vh;
  background-color: #1c1b21;
  color: #b7bfea;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 10px;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85vw;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_list p {
  padding: 0 1%;
}

@media all and (max-width: 1880px) {
  .contact {
    margin-top: 110%;
  }
}

@media all and (max-width: 1810px) {
  .slider_btns {
    margin-top: 87%;
  }
}

@media all and (max-width: 1770px) {
  .news {
    margin-top: 75%;
  }
}

@media all and (max-width: 1700px) {
  .contact {
    margin-top: 120%;
  }
  .services_footer {
    margin-top: 20%;
  }
  .slider {
    margin-top: 53%;
  }
}

@media all and (max-width: 1670px) {
  .head_text h1 {
    font-size: 45px;
  }
  .head_text p {
    font-size: 14px;
  }
}

@media all and (max-width: 1604px) {
  .card_inf_row p {
    font-size: 13px;
  }
  .services_footer {
    margin-top: 25%;
  }
  .slider {
    margin-top: 58%;
  }
  .slider_btns {
    margin-top: 93%;
  }
}

@media all and (max-width: 1550px) {
  .news_footer_card_third {
    padding: 1%;
  }
  .slider_btns {
    margin-top: 96%;
  }
}

@media all and (max-width: 1530px) {
  .contact {
    margin-top: 130%;
  }
}

@media all and (max-width: 1500px) {
  .news {
    margin-top: 85%;
  }
  .news_card_img img {
    width: 25vw;
  }
  .contact {
    margin-top: 140%;
  }
  .services_text h1 {
    font-size: 40px;
  }
  .services_text p {
    font-size: 15px;
  }
}

@media all and (max-width: 1450px) {
  .slider {
    margin-top: 67%;
    left: 40%;
  }
  .slider_images img {
    width: 50vw;
  }
  .services_img img {
    width: 45vw;
    margin-top: 20%;
  }
  .services_text {
    width: 25vw;
  }
  .head_aside {
    width: 40vw;
    height: 40vh;
  }
  .aside_back_img img {
    width: 30vw;
  }
  .aside_window_img img {
    width: 30vw;
  }
  .head_aside_text {
    left: 55%;
  }
  .head_aside_text h2 {
    font-size: 14px;
  }
  .head_aside_text h3 {
    font-size: 14px;
  }
  .head_aside_text h4 {
    font-size: 14px;
  }
  .head_aside_text p {
    font-size: 12px;
  }
  .news_footer_card_third h2 {
    font-size: 18px;
  }
  .news_footer_card_third h3 {
    font-size: 16px;
  }
  .news_footer_card_third button {
    font-size: 14px;
  }
  .news_footer_card_third_img img {
    width: 20vw;
  }
}

@media all and (max-width: 1400px) {
  .head_aside_text h2 {
    font-size: 14px;
  }
  .head_aside_text h3 {
    font-size: 14px;
  }
  .head_aside_text h4 {
    font-size: 14px;
  }
  .head_aside_text p {
    font-size: 14px;
  }
  .service_footer_img img {
    width: 40vw;
  }
}

@media all and (max-width: 1350px) {
  .services_footer {
    height: 40vh;
  }
  .back_div {
    height: 150vh;
  }
  .news_footer_card_first h2 {
    font-size: 20px;
  }
  .news_footer_card_first p {
    font-size: 12px;
  }
  .news_footer_card_second h2 {
    font-size: 20px;
  }
  .news_footer_card_second p {
    font-size: 12px;
  }
  .card_inf h2 {
    font-size: 20px;
  }
  .card_inf_row h3 {
    font-size: 12px;
  }
}

@media all and (max-width: 1300px) {
  .nav_links a {
    font-size: 14px;
  }
  .nav_flag h3 {
    font-size: 14px;
  }
  .logo {
    width: 20%;
  }
  .contact {
    margin-top: 150%;
  }
  .news {
    margin-top: 95%;
  }
  .news h1 {
    font-size: 40px;
  }
  .about_container h1 {
    font-size: 40px;
  }
  .contact h1 {
    font-size: 40px;
  }
  .card h2 {
    font-size: 18px;
  }
  .card p {
    font-size: 14px;
  }
  .news_footer_card_first h2 {
    margin: 5% 0;
  }
}

@media all and (max-width: 1250px) {
  .back_div {
    height: 140vh;
  }
  .slider {
    left: 50%;
  }
}

@media all and (max-width: 1230px) {
  .head_footer_item h1 {
    font-size: 16px;
  }
  .contact {
    margin-top: 160%;
  }
  .news_card h2 {
    font-size: 10px;
  }
  .news_card h3 {
    font-size: 18px;
  }
  .service_footer_text h1 {
    font-size: 35px;
  }
}

@media all and (max-width: 1170px) {
  .contact {
    margin-top: 170%;
  }
  .news {
    margin-top: 105%;
  }
}

@media all and (max-width: 1150px) {
  .back_div {
    height: 125vh;
  }
  .slider {
    left: 60%;
  }
  .fa-bars {
    margin-left: 10px;
  }
  .fa-angle-down {
    margin-left: -15px;
  }
  .nav_flag h3 {
    font-size: 14px;
  }
  .nav_links a {
    padding: 0 5px;
  }
  .nav_icons i {
    padding: 0 5px;
  }
}
/*# sourceMappingURL=main.css.map */