@import url(//db.onlinewebfonts.com/c/94b179c9d809017e4a5819787d60ab0f?family=All+Round+Gothic);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

nav {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #FFF;
}

.nav_flag {
  background: #304DE5;
  color: #FFF;
  padding: 25px;
}

.nav_links a {
  text-decoration: none;
  color: #1C1B21;
  padding: 0px 15px;
  word-wrap: normal;
  display: inline-block;
  font-size: 18px;
}

.nav_icons i {
  padding: 0 10px;
  opacity: 60%;
}

.fa-bars {
  margin-left: 30px;
}

.fa-angle-down {
  margin-left: -22px;
}

header {
  width: 100vw;
  height: 100%;
  background-color: black;
  background-image: url("../images/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.head_container {
  width: 80vw;
  height: 93vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_text {
  max-width: 25vw;
}

.head_text h1 {
  font-family: "All Round Gothic";
  font-size: 60px;
  padding-bottom: 15px;
}

.head_text p {
  font-size: 17px;
  padding-bottom: 15px;
}

.head_text button {
  background-color: #304DE5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.head_aside {
  background-color: white;
  width: 740px;
  height: 550px;
  right: 0;
  position: relative;
}

.head_icons {
  padding: 20px 10px;
}

.aside_back_img {
  position: absolute;
  right: 0;
}

.aside_window_img {
  position: absolute;
  left: -15%;
  top: 10%;
}

.head_aside_text {
  width: 45%;
  position: absolute;
  right: 70px;
  bottom: 70px;
}

.head_aside_text h2 {
  font-family: "All Round Gothic";
  color: #304DE5;
  font-size: 22px;
  padding: 5px 0px;
}

.head_aside_text h3 {
  font-family: "All Round Gothic";
  color: black;
  font-size: 22px;
  padding: 5px 0px;
}

.head_aside_text h4 {
  font-family: "All Round Gothic";
  color: #304DE5;
  font-size: 16px;
  padding: 5px 0px;
}

.head_aside_text p {
  font-family: "Poppins";
  color: gray;
  font-size: 17px;
  padding: 5px 0px;
}

.head_footer {
  width: 80%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #304DE5;
  color: white;
}

.head_footer_item {
  width: 20%;
  padding: 50px;
}

.head_footer_item h1 {
  font-family: "All Round Gothic";
  font-size: 22px;
}

.head_overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.about {
  width: 100vw;
  height: 20vh;
  padding: 10px;
}

.about_container {
  width: 80vw;
  height: 30vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_container h1 {
  font-family: "All Round Gothic";
  font-size: 50px;
  max-width: 25%;
}

.about_text {
  max-width: 70%;
}

.about_text p {
  font-family: 'Poppins';
  font-size: 17px;
  padding: 10px 0;
  color: gray;
}

.about_text button {
  background-color: #304DE5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.services {
  width: 100vw;
  height: 90vh;
  padding-top: 200px;
  color: white;
}

.back_div {
  background-color: #304DE5;
  width: 70vw;
  height: 150vh;
  position: absolute;
  right: 0;
}

.services_container {
  width: 80vw;
  margin: 0 auto;
}

.services_img {
  position: absolute;
  margin-top: 6%;
}

.services_text {
  position: absolute;
  right: 0px;
  max-width: 30%;
  margin-top: 15%;
  margin-right: 10%;
}

.services_text h1 {
  font-family: "All Round Gothic";
  font-size: 50px;
  padding-bottom: 15px;
}

.services_text p {
  font-family: "Poppins";
  font-size: 17px;
  padding: 10px 0;
}

.services_text button {
  background-color: white;
  border: none;
  color: #304DE5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.services_footer {
  position: absolute;
  top: 280%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10%;
  color: black;
}

.service_footer_text {
  width: 40%;
}

.service_footer_text h1 {
  font-family: "All Round Gothic";
  font-size: 50px;
  padding-bottom: 5%;
}

.service_footer_text p {
  font-size: 17px;
  color: gray;
  padding: 15px 0;
}

.service_footer_text button {
  background-color: #304DE5;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.slider {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 225%;
  left: 25%;
}

.slider_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
}

.slider_images img {
  padding: 0 15px;
}

.slider_btns {
  position: absolute;
  top: 280%;
  left: 50%;
}

.slide_left {
  background-color: transparent;
  border: none;
}

.slide_right {
  background-color: transparent;
  border: none;
}
/*# sourceMappingURL=main.css.map */